[submodule "shiva-core"]
	path = shiva-core
	url = git@github.com:sansaralab/shiva-core.git
[submodule "shiva-head"]
	path = shiva-head
	url = git@github.com:sansaralab/shiva-head.git
[submodule "shiva-queue"]
	path = shiva-queue
	url = git@github.com:sansaralab/shiva-queue.git
[submodule "shiva-db"]
	path = shiva-db
	url = git@github.com:sansaralab/shiva-db.git
[submodule "shiva-hands"]
	path = shiva-hands
	url = git@github.com:sansaralab/shiva-hands.git
